{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application.",
  "Parameters": {
    "ConnectionMappingTableName": {
      "Type": "String",
      "Default": "DigitalMakerConnections",
      "Description": "The name of the new DynamoDB to store connection identifiers for each connected clients. Minimum 3 characters.",
      "MinLength": "3",
      "MaxLength": "50",
      "AllowedPattern": "^[A-Za-z_]+$"
    },
    "ShouldCreateInstanceTable" : {
      "Type" : "String",        
      "AllowedValues" : ["true", "false"],
      "Description" : "If true then the DynamoDB token table will be created with the CloudFormation stack."
    },
    "InstanceTableName" : {
        "Type" : "String",
        "Description" : "Name of DynamoDB table used to store the token. If left blank a new table will be created.",
        "MinLength" : "0"
    }
  },
  "Conditions" : {
    "CreateInstanceTable" : {"Fn::Equals" : [{"Ref" : "ShouldCreateInstanceTable"}, "true"]},
    "InstanceTableNameGenerated" : {"Fn::Equals" : [{"Ref" : "InstanceTableName"}, ""]}
  },
  "Resources": {
    "ConnectionMappingTable": {
      "Type": "AWS::DynamoDB::Table",
      "Properties": {
        "TableName": {
          "Ref": "ConnectionMappingTableName"
        },
        "AttributeDefinitions": [
          {
            "AttributeName": "connectionId",
            "AttributeType": "S"
          }
        ],
        "KeySchema": [
          {
            "AttributeName": "connectionId",
            "KeyType": "HASH"
          }
        ],
        "BillingMode": "PAY_PER_REQUEST"
      }
    },
    "OnConnectFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "DigitalMakerServer::DigitalMakerServer.Functions::OnConnectHandler",
        "Runtime": "dotnet6",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "CONNECTION_TABLE_NAME": {
              "Ref": "ConnectionMappingTableName"
            }
          }
        }
      }
    },
    "OnDisconnectFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "DigitalMakerServer::DigitalMakerServer.Functions::OnDisconnectHandler",
        "Runtime": "dotnet6",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          }
        ],
        "Environment": {
          "Variables": {
            "CONNECTION_TABLE_NAME": {
              "Ref": "ConnectionMappingTableName"
            }
          }
        }
      }
    },
    "SendMessageFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "DigitalMakerServer::DigitalMakerServer.Functions::SendMessageHandler",
        "Runtime": "dotnet6",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Ref": "ConnectionMappingTableName"
              }
            }
          },
          {
            "DynamoDBCrudPolicy": {
              "TableName": {
                "Fn::If" : ["CreateInstanceTable", {"Ref":"InstanceTable"}, { "Ref" : "InstanceTableName" } ]
              }
            }
          },
          {
            "Statement": {
              "Effect": "Allow",
              "Action": "execute-api:ManageConnections",
              "Resource": "arn:aws:execute-api:*:*:*/@connections/*"
            }
          }
        ],
        "Environment": {
          "Variables": {
            "CONNECTION_TABLE_NAME": { "Ref": "ConnectionMappingTableName" },
            "InstanceTable" : { "Fn::If" : ["CreateInstanceTable", {"Ref":"InstanceTable"}, { "Ref" : "InstanceTableName" } ] }
          }
        }
      }
    },
    "DigitalMakerWebSocketApi": {
      "Type": "AWS::ApiGatewayV2::Api",
      "Properties": {
        "Name": "DigitalMakerWebSocket",
        "ProtocolType": "WEBSOCKET",
        "RouteSelectionExpression": "$request.body.message"
      }
    },
    "ConnectRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "RouteKey": "$connect",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "ConnectInteg"
              }
            ]
          ]
        }
      }
    },
    "ConnectInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "OnConnectFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "DisconnectRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "RouteKey": "$disconnect",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "DisconnectInteg"
              }
            ]
          ]
        }
      }
    },
    "DisconnectInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "OnDisconnectFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "SendMessageRoute": {
      "Type": "AWS::ApiGatewayV2::Route",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "RouteKey": "sendmessage",
        "AuthorizationType": "NONE",
        "OperationName": "ConnectRoute",
        "Target": {
          "Fn::Join": [
            "/",
            [
              "integrations",
              {
                "Ref": "SendMessageInteg"
              }
            ]
          ]
        }
      }
    },
    "SendMessageInteg": {
      "Type": "AWS::ApiGatewayV2::Integration",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "IntegrationType": "AWS_PROXY",
        "IntegrationUri": {
          "Fn::Sub": [
            "arn:aws:apigateway:${region}:lambda:path/2015-03-31/functions/${function}/invocations",
            {
              "region": {
                "Ref": "AWS::Region"
              },
              "function": {
                "Fn::GetAtt": [
                  "SendMessageFunction",
                  "Arn"
                ]
              }
            }
          ]
        }
      }
    },
    "Deployment": {
      "Type": "AWS::ApiGatewayV2::Deployment",
      "DependsOn": [
        "ConnectRoute",
        "SendMessageRoute",
        "DisconnectRoute"
      ],
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        }
      }
    },
    "Stage": {
      "Type": "AWS::ApiGatewayV2::Stage",
      "Properties": {
        "ApiId": {
          "Ref": "DigitalMakerWebSocketApi"
        },
        "DeploymentId": {
          "Ref": "Deployment"
        },
        "StageName": "Prod"
      }
    },
    "OnConnectPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "OnConnectFunction",
        "DigitalMakerWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "OnConnectFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "OnDisconnectPermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "OnDisconnectFunction",
        "DigitalMakerWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "OnDisconnectFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "SendMessagePermission": {
      "Type": "AWS::Lambda::Permission",
      "DependsOn": [
        "SendMessageFunction",
        "DigitalMakerWebSocketApi"
      ],
      "Properties": {
        "Action": "lambda:InvokeFunction",
        "FunctionName": {
          "Ref": "SendMessageFunction"
        },
        "Principal": "apigateway.amazonaws.com"
      }
    },
    "InstanceTable" : {
        "Type": "AWS::DynamoDB::Table",
        "Condition" : "CreateInstanceTable",
        "Properties" : {
          "TableName" : { "Fn::If" : ["InstanceTableNameGenerated", {"Ref" : "AWS::NoValue" }, { "Ref" : "InstanceTableName" } ] },
          "AttributeDefinitions" : [
            {"AttributeName" : "Id", "AttributeType" : "S"}
          ],
          "KeySchema"            : [
            {"AttributeName" : "Id", "KeyType" : "HASH"}
          ],
          "BillingMode": "PAY_PER_REQUEST"
      }
    }
  },
  "Outputs": {
    "WebSocketURI": {
      "Value": {
        "Fn::Join": [
          "",
          [
            "wss://",
            {
              "Ref": "DigitalMakerWebSocketApi"
            },
            ".execute-api.",
            {
              "Ref": "AWS::Region"
            },
            ".amazonaws.com/",
            {
              "Ref": "Stage"
            }
          ]
        ]
      },
      "Description": "The WSS Protocol URI to connect to"
    }
  }
}